/* Write your CSS here */
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.ipl-logo-container {
  display: flex;
  align-items: center;
}

.ipl-logo-img {
  height: 50px;
  width: 40px;
}
.ipl-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 32px;
  font-weight: 700;
  margin-left: 16px;
}
.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}
